.sbarrato{
    text-decoration: line-through;
}

#app{
    width: 50%;
    margin: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

li>.fa-xmark{
    text-decoration:none;
}

.form-add{
    margin-top: 3rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
}

.textarea{
    width: 50%;
}